div.loginContainer{
    
    /*background-color: #f5f6f8;*/
    margin: auto;
    margin-top: 8%;
    border-left: 0px;
    border-right: 0px;
    margin-bottom: 1%;

    border-bottom: 1px solid darkgrey;
}

input{
    border: 0px solid transparent;
    border-radius: 0%;
    border-bottom: 1px solid #989899;
}
.loginCenter{
    width: 50%;
    margin: auto;

}
h1{
    text-align: center;
}
button{
    float: right;
}