<div class="row">
    
    <div class=" w-100 mt-50 border border-bottom-10 border-top-0">
        <div class=" col-1 col-lg-1 col-sm-1 col-md-1 pb-2 mx-auto bg-dark ">
            <img class="  mt-5" src="#" alt="">
        </div>

    </div>

</div>
<div class="row">
    <div class="loginContainer col-10 col-lg-4 col-sm-4 col-md-4 pb-5 border-bottom border-dark">
        <h4 class="text-center pb-3"> To continue, log in to Capitalizor</h4>
        <h1> {{info}}</h1>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="mail" placeholder="email@example.com">

        </div>
        <div class="form-group">
            <label for="pswd">Password</label>
            <input type="password" class="form-control" id="pswd" [(ngModel)]="password" placeholder="Password">

        </div>
        <button type="submit" class="btn btn-success w-50 rounded-pill" (click)="sendToConnect()">Login</button>
        <div class="form-check mb-2">
            <input class="form-check-input" type="checkbox" id="autoSizingCheck">
            <label class="form-check-label" for="autoSizingCheck">
              Remember me
            </label>
        </div>
        <a href="#" class="text-success text-decoration-none">Forgot your password?</a>

    </div>
   
</div>
<div class="row">
    <div class="col-10 col-lg-4 col-sm-4 col-md-4 pb-2 mx-auto pt-3 border-bottom border-dark pb-5">
        <h5 class="text-center pb-2" >Don't have an account?</h5>
        <button type="button" class="btn btn-outline-dark btn-block rounded-pill">SIGN UP FOR CAPITALAZOR</button>
    </div>
</div>
<router-outlet></router-outlet>