<div class="row">
    
    <div class=" w-100 mt-50 border border-bottom-10 border-top-0">
        <div class=" col-1 col-lg-1 col-sm-1 col-md-1 pb-2 mx-auto bg-dark ">
            <img class="  mt-5" src="#" alt="">
        </div>

    </div>

</div>
<div class="row">
    <div class="w-50 col-10 col-lg-4 col-sm-4 col-md-4 mx-auto border-dark mt-5">
        <h4 class="text-center pb-3"> Sign up to Capitalizor</h4>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control rounded-0 h-5" id="email" [(ngModel)]="email" placeholder="Email">

        </div>
        <div class="form-group">
            <label for="pswd">Confirm email</label>
            <input type="password" class="form-control rounded-0" id="email" [(ngModel)]="confirmEmail"
                placeholder="Confirm email">

        </div>
        <div class="form-group">
            <label for="pswd">Password</label>
            <input type="password" class="form-control rounded-0" id="pswd" [(ngModel)]="password"
                placeholder="Password">
        </div>
        <div class="form-group">
            <label for="pswd">What we shoud call you?</label>
            <input type="password" class="form-control rounded-0" id="psudo" [(ngModel)]="psudoName"
                placeholder="What we shoud call you?">
        </div>
        <div class="form-group ml-20 ">
            <label for="pswd">Day of birth</label>
            <div class="row mx-auto">
                <input type="text" class="form-control rounded-0 col-lg-3 mr-5 mx-sm-auto" id="day"
                    [(ngModel)]="day" placeholder="Day">

                <select class="col-lg-3 mr-5 ml-2 mx-sm-auto">
                    <option selected>Month</option>
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>

                <input type="text" class="form-control rounded-0 col-lg-3 ml-2 mx-sm-auto" id="Year" [(ngModel)]="year"
                    placeholder="Year">
            </div>
        </div>
        
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gender" id="male" value="male" checked>
                <label class="form-check-label" for="male">
                    Male
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gender" id="female" value="female" >
                <label class="form-check-label" for="female">
                    Female
                </label>
            </div>
            <p>By clicking on Sign up, you agree to Spotify's <a href="#" class="text-decoration-none text-success">Terms and Conditions of Use.</a> </p>

            <button type="submit" class="col-12 btn btn-success w-50 rounded-pill w-100" (click)="sendToSignUp()">Sign up</button>
        
        <p class="text-center mt-3 mb-5 font-size-20">Already have an account?<a href="#" class="text-decoration-none text-success"> Log in</a></p>


    </div> 
</div>